@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

@mixin hover-animation($active-background-color, $brightness: 120%) {
  &:not(:disabled) {
    &:not(:active) {
      &:hover,
      &:focus-visible {
        filter: brightness($brightness);
      }
    }

    &:active {
      box-shadow: none;
      background-color: $active-background-color;
    }
  }
}

// Button
@mixin button-color-style(
  // Color
  $background-color: palette.$green-2,
  $active-background-color: palette.$green-1,
  $color: palette.$text-color,

  // Shadow
  $shadow-width: value.$button-inset-shadow-offset,

  $shadow-color-bright: palette.$green-3,
  $shadow-color-dark: palette.$green-1,

  // Border
  $border-width: value.$border-width-normal,
  $border-color: palette.$black
) {
  background-color: $background-color;
  color: $color;

  box-shadow: inset 0 $shadow-width 0 0 $shadow-color-bright,
    inset 0 (-1 * $shadow-width) 0 0 $shadow-color-dark;

  @if ($border-color == null or $border-width == null) {
    border: none;
  } @else {
    border: solid $border-width $border-color;
  }

  @include hover-animation($active-background-color: $active-background-color);
}
