$background-color: hsl(0, 0%, 8%);
$text-color: hsl(0, 0%, 100%);

$black: hsl(0, 0%, 0%);

$dark-gray-0: hsl(0, 0%, 7%);
$dark-gray-1: hsl(0, 0%, 11%);
$dark-gray-2: hsl(0, 0%, 13%);
$dark-gray-3: hsl(0, 0%, 18%);
$dark-gray-4: hsl(0, 0%, 24%);
$dark-gray-5: hsl(0, 0%, 37%);

$gray-1: hsl(0, 0%, 33%);
$gray-2: hsl(0, 0%, 29%);

$light-gray: hsl(0, 0%, 76%);

$green-1: hsl(92, 46%, 22%);
$green-2: hsl(92, 46%, 27%);
$green-3: hsl(93, 45%, 48%);

$red: hsl(0, 100%, 66%);
$purple: hsl(263, 66%, 24%);
