$background-color: hsl(0, 0%, 8%);
$text-color: hsl(0, 0%, 100%);

$black: hsl(0, 0%, 0%);

$dark-gray-1: hsl(0, 0%, 11%);
$dark-gray-2: hsl(0, 0%, 16%);
$dark-gray-3: hsl(0, 0%, 20%);
$dark-gray-4: hsl(0, 0%, 22%);

$gray-1: hsl(0, 0%, 33%);
$gray-2: hsl(0, 0%, 29%);

$light-gray: hsl(0, 0%, 72%);

$green-1: hsl(92, 46%, 22%);
$green-2: hsl(92, 46%, 30%);
$green-3: hsl(93, 45%, 48%);
