// Body
$body-padding: 130px 15px;

$section-gap: 100px;

// Input/Button
$inset-shadow-offset: 9px;
$text-input-padding: 15px;

$button-inset-shadow-offset: 4px;
$button-inset-shadow-offset-small: 3px;
$button-font-weight: 500;
$button-padding: 15px 30px;

// Font sizes
$bold-weight: 500;

$button-font-size: 20px;
$footer-font-size: 0.9rem;
$main-title: 2.1rem;

// Border
$border-width-normal: 2px;
$border-width-thick: 3px;

$box-shadow-offset-normal: 4px;

// Screen
$small-screen-width: 760px;
