@font-face {
  src: url('/assets/fonts/AstaSans.woff2');
  font-family: 'Asta Sans';
  font-weight: 100 900;
}

@font-face {
  src: url('/assets/fonts/InstrumentSans.woff2');
  font-family: 'Instrument Sans';
  font-weight: 100 900;
}

$default-sans-serif: 'Instrument Sans';
