@use './palette' as palette;
@use './value' as value;
@use './fonts.scss' as fonts;

:root {
  font-family: fonts.$default-sans-serif, system-ui, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
option,
textarea {
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;

  background-color: red;

  padding: value.$body-padding;

  min-height: 100vh;

  background-color: palette.$background-color;
  color: palette.$text-color;
}
