@use '@/assets/styles/value' as value;
@use '@/assets/styles/palette' as palette;

@mixin hover-animation($active-background-color) {
  &:not(:disabled) {
    &:not(:active) {
      &:hover,
      &:focus-visible {
        filter: brightness(120%);
      }
    }

    &:active {
      box-shadow: none;
      background-color: $active-background-color;
    }
  }

  &:disabled {
    filter: brightness(80%);
  }
}

// Button
@mixin button-color-style(
  // Color
  $background-color: palette.$green-2,
  $active-background-color: palette.$green-1,
  $color: palette.$text-color,

  // Shadow
  $shadow-width: value.$button-inset-shadow-offset,

  $shadow-color-bright: palette.$green-3,
  $shadow-color-dark: palette.$green-1,

  // Border
  $border-width: value.$border-width-normal,
  $border-color: palette.$black,

  // Hover animation
  $hover-animation: true
) {
  background-color: $background-color;
  color: $color;

  box-shadow: inset 0 $shadow-width 0 0 $shadow-color-bright,
    inset 0 (calc($shadow-width * -1.5)) 0 0 $shadow-color-dark;

  @if ($border-color == null or $border-width == null) {
    border: none;
  } @else {
    border: solid $border-width $border-color;
  }

  @if ($hover-animation) {
    @include hover-animation(
      $active-background-color: $active-background-color
    );
  }
}

@mixin gray-button-color-style($parameters...) {
  @include button-color-style(
    $background-color: palette.$dark-gray-4,
    $active-background-color: palette.$dark-gray-2,
    $color: palette.$text-color,

    $shadow-color-bright: palette.$dark-gray-5,
    $shadow-color-dark: palette.$dark-gray-2,

    $parameters...
  );
}
