@use './palette' as palette;
@use './value' as value;
@use './fonts.scss' as fonts;

:root {
  font-family: fonts.$default-sans-serif, system-ui, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
option,
textarea {
  font-family: inherit;
}

body {
  display: flex;

  min-height: 100vh;

  background-image: url('/assets/images/background.png');
  background-size: 50px;
  image-rendering: pixelated;

  background-color: palette.$background-color;
  color: palette.$text-color;
}

#app {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 35px;

  width: 100%;
}

// Focus outline
*:focus-visible {
  outline: solid value.$focus-border-width palette.$text-color;
}
